@import '../../variables.scss';

.sorting-panel {
  display: flex;
  margin-top: 20px;
  height: 50px;
  text-transform: uppercase;
  background: $color-white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: $box-shadow;
  @media (max-width: 794px) {
    margin: 0;
  }
  &__item {
    padding: 20px;
    border: 1px solid $color-gray;
    display: flex;
    align-items: center;
    @media (max-width: 794px) {
    }
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:not(:last-child) {
      border-right: none;
    }
    &:hover:not(.item-active) {
      background-color: $color-light-blue;
    }
  }
}
.item-active {
  color: $color-white;
  background-color: $color-blue;
  border-color: $color-blue;
}
