$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2196f3;
$color-gray: #dfe5ec;
$color-light-blue: #f1fcff;
$main-text-color: #4a4a4a;
$gray-text-color: #a0b0b9;
$bg-color: #f3f7fa;
$box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
